In [7]:
1+2 #shift+enter

3

In [4]:
4%2

0

In [5]:
4/2

2.0

In [6]:
5//2

2

In [8]:
type(4/2)

float

In [10]:
type('anmol')

str

In [11]:
True or False

True

In [12]:
True and False

False

In [13]:
type(True and False)

bool

# Strings

In [16]:
str1="Anmol is a good boy"
str1

'Anmol is a good boy'

In [17]:
str1="A good boy"
str2="A bad boy"
str1+" "+str2

'A good boy A bad boy'

In [18]:
### Add two num
a=float(input("Enter number 1"))
b=float(input("Enter number 2"))
c=a+b
print("The output is",c)

Enter number 123.4
Enter number 254.1
The output is 77.5

In [21]:
###String formatting
first_name=input("What is your first name?")
last_name=input("What is your last name?")
print("My first name is {firstname} and last name is {lastname}.format(lastname=last_name,firstname=first_name)")

What is your first name?ghvh
What is your last name?hgd
My first name is {firstname} and last name is {lastname}.format(lastname=last_name,firstname=first_name)

In [25]:
###Conditional stataement
a=int(input("Enter number 1?"))
b=int(input("Enter number 2?"))
c=a-b
print("The output is",c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The number is huge")
else:
    print("The number is positive")

Enter number 1?54
Enter number 2?10
The output is 44
The number is huge

# Data Structure
1. list
2. tuple
3. dictionary
4. sets

In [26]:
lst=[1,2,3,"Anmol","Singh"]
lst

[1, 2, 3, 'Anmol', 'Singh']

In [27]:
lst[3]

'Anmol'

In [28]:
type(lst[3])

str

In [29]:
type(lst)

list

In [30]:
lst.append("Rajput")
lst

[1, 2, 3, 'Anmol', 'Singh', 'Rajput']

In [31]:
lst[2]="Data Science"
lst

[1, 2, 'Data Science', 'Anmol', 'Singh', 'Rajput']

In [35]:
lst.count(3)

0

In [36]:
###immutable
str1="Anmol"
str1="Akku"
str1

'Akku'